<div class="text-center">

<p id="notice"><%= notice %></p>

<p>
  <strong>
  <h2>
  <%= @cocktail.name %>
  </h2>
  </strong>
</p>

<p>
<strong>Images:
<br>
   <%= cl_image_tag @cocktail.photo %>
  </strong>
</p>


 <p>
    <strong>Ingredients:</strong>
    <% @cocktail.doses.each do |dose| %>

    <p><%= dose.ingredient.name %>
       (<%= dose.description %>)
      <div class="new-button">
      <%= link_to 'Delete dose', dose_path(dose.id), method: :delete %>
      </div>
    </p>

    <% end %>
</p>

<br>
<div class="new-button-back">
<%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail) %></div>




<div class="new-button-back">
<%= link_to 'Edit', edit_cocktail_path(@cocktail) %>  |  <%= link_to 'Back', cocktails_path %> |
<%= link_to 'Destroy', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' } %></div>


</div>
