<div class="text-center">
<h1>New Dose</h1>
</div>

  <div class="new text-center">

<div class="text-center">

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.association :ingredient %>
  </div>

  <div class="form-actions">
    <div class="btn-medium"><%= f.button :submit %></div>
  </div>
<% end %>

</div>


</div>

 <div class="text-center new-button btn-medium"><%= link_to 'Back', cocktail_path(@cocktail) %></div>


